<nav class="nav">
  <div>
    <div
      [ngClass]="{'menu-active': menu, 'menu': !menu}"
      (click)="menuActive()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
  <div class="info">
    <div class="position-short-info-city">
      <ul *ngFor="let city of visualDataWeatherCity">
        <li><span>{{city.name}}</span></li>
        <li><span>{{city.temp}}℃</span></li>
        <li>
          <a #dropdownTrigger class='dropdown-trigger waves-effect' data-target='dropdown1'>
            <span>Подробно </span> <i class="material-icons">expand_more</i>
          </a>
          <ul id='dropdown1' class='dropdown-content'>
            <li [routerLink]="['/weather/detailOfCity',city.idCity]" class='waves-effect'>
              <a> Текущий день</a></li>
            <li [routerLink]="['/weather/detailOfCityGroup',city.idCity]" class='waves-effect'>
              <a>Погода на 5 дней</a></li>
            <li (click)="saveCity({name: city.name, idCity: city.idCity})" class='waves-effect'><a>Сохранить город</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nameApp">
      <span>Applications Weather</span>
    </div>
    <div class="position-block-sheath">
      <div [ngClass]="{'hidden-search': !search, 'active-search': search}">
        <input class="input"
               type="text"
               [@showInputSearch]
               (keyup.enter)="cityRequest()"
               placeholder="Введите название города(Київ)"
               [(ngModel)]="cityNameEntered">
        <button class="btn-search"
                (click)="cityRequest()">
          <i class="material-icons">search</i>
        </button>
      </div>
      <button [ngClass]="{'btn-search': !search, 'btn-hidden': search}" (click)="searchAc()">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>


</nav>
